<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Authenticated Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">You are authenticated!</h1>
        <hr class="my-4">
        <p class="lead">Your Spotify access token has been successfully retrieved and stored in our database. You can now use this app to access your Spotify data.</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Return to Home</a>
    </div>
</div>

</body>
</html>
